#content ul.article-results {
  padding: 0;
  margin: 0 0 1.5em 0;
  list-style-type: none;
  position: relative; }
  #content ul.article-results li {
    border-bottom: dotted 1px #cccccc;
    list-style-type: none;
    clear: left;
    padding: 0.8em 0;
    position: relative; }
    #content ul.article-results li.bar {
      padding-right: 25px;
      position: relative; }
      #content ul.article-results li.bar p.journalname {
        float: left;
        width: 150px;
        padding-left: 5px;
        font-size: 93%;
        color: #333333;
        font-style: italic; }
      #content ul.article-results li.bar:hover {
        cursor: pointer;
        background-color: #f3f6fb; }
        #content ul.article-results li.bar:hover .journalname,
        #content ul.article-results li.bar:hover .article-title {
          color: #00367c;
          font-weight: bold; }
      #content ul.article-results li.bar h3.article-title {
        top: 0;
        font-size: 93%;
        font-weight: normal;
        background: none;
        margin: 0 0 0 172px;
        padding-left: 0;
        width: 330px;
        color: #333333; }
    #content ul.article-results li.panel {
      padding: 0.3em 0 0.8em 172px;
      background-color: white;
      position: relative; }
      #content ul.article-results li.panel .type a {
        font-size: 93%;
        position: absolute;
        right: 10px;
        background: url(/common/img/icons/icon-page-pdf.png) no-repeat right -118px;
        padding: 2px 20px 1px 0px; }
        #content ul.article-results li.panel .type a:hover {
          background: url(/common/img/icons/icon-page-pdf.png) no-repeat right -88px;
          text-decoration: none; }
    #content ul.article-results li.open {
      border-bottom: none;
      position: relative;
      background: url(/common/img/gradient-grey-short.gif) repeat-x left 0px;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f6fb), to(white));
      background: -moz-linear-gradient(top, #f3f6fb, white 100%);
      background: -o-linear-gradient(top, #f3f6fb 0%, white 100%);
      background: -ms-linear-gradient(top, #f3f6fb 0%, white 100%);
      background: linear-gradient(to bottom, #f3f6fb 0%, white 100%); }
    #content ul.article-results li .type {
      margin: 0;
      font-weight: bold; }
    #content ul.article-results li .doi {
      margin: 0 0 1em 0;
      color: #222222;
      font-size: 85%; }
    #content ul.article-results li .inst {
      margin: 0 0 0.2em 0;
      color: #222222;
      font-size: 93% !important;
      position: relative;
      padding-right: 40px; }
      #content ul.article-results li .inst span {
        color: #222222;
        position: absolute;
        right: 10px; }

body > header #masthead {
  border-top: 1px solid #d64c3f;
  border-bottom: 1px solid #6d0111;
  background: url(/en/publishing-index/img/red-masthead-bkg.gif) repeat-x left bottom;
  background: #ac2312;
  background: -moz-linear-gradient(top, #ac2312 0, #74181d 75px) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ac2312), color-stop(75, #74181d)) !important;
  background: -webkit-linear-gradient(top, #ac2312 0, #74181d 75px) !important;
  background: -o-linear-gradient(top, #ac2312 0, #74181d 75px) !important;
  background: -ms-linear-gradient(top, #ac2312 0, #74181d 75px) !important;
  background: linear-gradient(to bottom, #ac2312 0, #74181d 75px) !important; }
  body > header #masthead .constrain {
    background: url(/en/publishing-index/img/masthead-bkg.png) no-repeat right bottom; }

.last {
  margin-bottom: 30px; }

#content .box {
  margin: 0 0 1em 0; }
  #content .box .inner {
    padding: 0; }
    #content .box .inner img {
      margin: 0 10px 0 0;
      float: left;
      border: none;
      padding: 0; }
    #content .box .inner p {
      line-height: 70px;
      text-align: center;
      margin: 0;
      padding: 0;
      font-weight: bold; }
      #content .box .inner p a {
        color: #b80115;
        background: url(/en/publishing-index/img/arrows/archive-arrow.png) no-repeat right top;
        padding-right: 15px; }
        #content .box .inner p a:hover {
          color: #ff321a;
          text-decoration: none;
          border-bottom: 1px solid #b80115;
          background: url(/en/publishing-index/img/arrows/archive-arrow.png) no-repeat right 57%; }

.img-r {
  float: right;
  margin: 0 0 10px 10px; }

.img-l {
  float: left;
  margin: 0 10px 10px 0; }

.img-r a:hover, .img-l a:hover {
  border: none !important; }
.img-r img, .img-l img {
  border: 1px solid #cccccc;
  padding: 1px; }
.img-r p, .img-l p {
  text-align: center; }

h3 {
  color: #ff321a;
  font-size: 116%;
  margin: 0 0 0.5em 0; }

ol.note {
  padding: 0 0 0 2em;
  margin: 2.5em 0;
  color: #666666; }
  ol.note li {
    margin-bottom: 0.5em; }

ul.toc {
  position: relative;
  margin: 0 0 2em 1.5em; }
  ul.toc span {
    float: left;
    color: #333333; }
  ul.toc a {
    font-weight: bold;
    position: absolute;
    left: 25px; }
  ul.toc p {
    margin: 0 0 0 25px !important; }

#content a:hover {
  color: #b80115;
  text-decoration: none;
  border-bottom: 1px solid #78000d; }

#content h1.page-header {
  border-bottom: solid 1px #ced8e0;
  margin-bottom: 2em; }

p.feedback {
  background: url(/en/publishing-index/img/feedback.png) no-repeat 20px 50%;
  font-size: 93%;
  line-height: 153.9%;
  padding: 1em 0 1em 100px;
  color: #444444; }

#share-count {
  position: absolute;
  right: -15px;
  top: 25px; }
  #share-count a:hover {
    border-bottom: none !important; }

/* asia-pacific */
#asia-pacific #masthead {
  border-top: 1px solid #6688c7 !important;
  border-bottom: 1px solid #0e2c64;
  background: url(/en/publishing-index/img/blue-masthead-bkg.gif) repeat-x left bottom;
  background: #0079c0;
  background: -moz-linear-gradient(top, #0079c0 0, #012f6a 75px) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0079c0), color-stop(75, #012f6a)) !important;
  background: -webkit-linear-gradient(top, #0079c0 0, #012f6a 75px) !important;
  background: -o-linear-gradient(top, #0079c0 0, #012f6a 75px) !important;
  background: -ms-linear-gradient(top, #0079c0 0, #012f6a 75px) !important;
  background: linear-gradient(to bottom, #0079c0 0, #012f6a 75px) !important; }
  #asia-pacific #masthead .constrain {
    background: url(/en/publishing-index/asia-pacific/img/masthead-bkg.png) no-repeat 130% bottom; }

#asia-pacific #content a:link,
#asia-pacific #content a:visited {
  color: #3366cc; }

#asia-pacific #content a:hover {
  color: #1bc631;
  text-decoration: none;
  border-bottom: 1px solid #0e7512; }

#asia-pacific #pub-index .box .inner p a:link,
#asia-pacific #pub-index .box .inner p a:visited {
  background: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-archive-arrow.png) no-repeat right top;
  padding-right: 15px; }

#asia-pacific #pub-index .box .inner p a:hover {
  background: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-archive-arrow.png) no-repeat right 57%; }

#asia-pacific h1.page-header {
  color: #3366cc; }

#asia-pacific h2 {
  color: #00367c;
  background: url(/common/img/borders/bdr-ltblue.gif) repeat-x left bottom; }

#asia-pacific h3 {
  color: #00367c;
  font-size: 116%;
  margin: 0 0 0.5em 0; }

#asia-pacific p.signature {
  line-height: 1.25em;
  margin: 0 0 0 370px; }

#asia-pacific .download .more {
  margin: 0.5em 0; }

ul#filter {
  float: left;
  margin: 1.5em 0 2px 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  border-bottom: 3px solid #012f6a; }
  ul#filter li {
    float: left;
    margin: 0 2px 0 0;
    font-size: 110%;
    padding: 5px 12px 2px;
    display: block;
    font-weight: bold;
    color: white; }
    ul#filter li a {
      text-decoration: none; }
      ul#filter li a:hover {
        border: none; }
    ul#filter li#on {
      background: #0079c0;
      background: -moz-linear-gradient(top, #0079c0 0, #012f6a 30px) !important;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0079c0), color-stop(30, #012f6a)) !important;
      background: -webkit-linear-gradient(top, #0079c0 0, #012f6a 30px) !important;
      background: -o-linear-gradient(top, #0079c0 0, #012f6a 30px) !important;
      background: -ms-linear-gradient(top, #0079c0 0, #012f6a 30px) !important;
      background: linear-gradient(to bottom, #0079c0 0, #012f6a 30px) !important; }
      ul#filter li#on a {
        border-bottom: none !important;
        background: black; }

.red ul#filter {
  border-bottom: 3px solid #741d1c; }
  .red ul#filter li#on {
    background: #a52e14;
    background: -moz-linear-gradient(top, #a52e14 0, #741d1c 30px) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a52e14), color-stop(30, #741d1c)) !important;
    background: -webkit-linear-gradient(top, #a52e14 0, #741d1c 30px) !important;
    background: -o-linear-gradient(top, #a52e14 0, #741d1c 30px) !important;
    background: -ms-linear-gradient(top, #a52e14 0, #741d1c 30px) !important;
    background: linear-gradient(to bottom, #a52e14 0, #741d1c 30px) !important; }

#asia-pacific ul.historical li {
  padding: 5px !important;
  font-size: 110% !important; }

#asia-pacific #content .more {
  background-image: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-square-arrow.png); }
#asia-pacific #content .return {
  background-image: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-square-arrow.png); }
#asia-pacific #content .toplink {
  background-image: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-square-arrow.png); }
#asia-pacific #content .toplink-no-border {
  background-image: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-square-arrow.png); }

#content .more {
  margin-top: 1.5em; }

.rank-table {
  font-size: 100%;
  width: 100%;
  margin: 0;
  clear: both;
  color: #333333; }
  .rank-table th {
    padding: 0.5em;
    font-weight: bold;
    background-color: #efefef; }
    .rank-table th.data {
      padding: 0.5em 0;
      width: 70px;
      border-left: solid 2px white;
      text-align: center; }
    .rank-table th.journal {
      width: 155px;
      border-right: 2px solid white; }
  .rank-table tr.odd {
    background-color: #e9eef3; }
  .rank-table tr:hover, .rank-table tr.treenode:hover {
    font-weight: bold; }
    .rank-table tr:hover a, .rank-table tr.treenode:hover a {
      text-decoration: none; }
  .rank-table tr.sublist {
    background-color: white;
    padding: 0; }
    .rank-table tr.sublist tr {
      background-color: white;
      padding: 0; }
      .rank-table tr.sublist tr td:first-child {
        padding-left: 1em; }
    .rank-table tr.sublist .rank-table {
      margin: -1px -1px 0 25px;
      padding: 0;
      font-weight: normal;
      border: solid 1px #bdd2e7;
      border-top: none;
      width: 596px; }
      .rank-table tr.sublist .rank-table tr:hover {
        background-color: #e9eef3; }
      .rank-table tr.sublist .rank-table td.inst {
        padding-left: 10px; }
      .rank-table tr.sublist .rank-table td.data {
        text-align: center;
        border-left: solid 2px white;
        width: 65px; }
  .rank-table tr.sublist > td {
    padding: 0;
    border: none; }
  .rank-table td {
    padding: 0.3em; }
    .rank-table td.data {
      font-weight: bold;
      text-align: center;
      border-left: solid 2px white;
      width: 65px; }
    .rank-table td a {
      text-decoration: none;
      font-weight: bold; }
    .rank-table td.title {
      font-weight: bold;
      text-align: left; }
    .rank-table td.rank {
      width: 1.5em;
      text-align: center; }

.rank-table tr.open td.last {
  width: 64px; }

.rank-table tr.open {
  border: solid 1px #bdd2e7;
  border-bottom: none; }
  .rank-table tr.open td.rank {
    border-bottom: solid 1px #bdd2e7; }

.rank-table tr.treenode a.treeopen {
  background: url(/en/publishing-index/img/node-open.gif) no-repeat left 1px;
  padding-left: 17px; }
.rank-table tr.treenode a.treeclosed {
  background: url(/en/publishing-index/img/node-closed.gif) no-repeat left 1px;
  padding-left: 17px; }

#content h2.country,
#content h2.journalname,
#content h2.institution {
  margin-bottom: 1px !important; }

#content h2.mgn-top {
  margin-top: 0.5em; }

.graphs #content h2 {
  background-image: none;
  color: #00367c; }
.graphs #content form {
  color: #333333;
  font-size: 93%; }
  .graphs #content form#graph_type {
    margin: 0.5em 1em 1em 1em; }
  .graphs #content form#institutions, .graphs #content form#countries {
    margin: 0 1em; }
  .graphs #content form p {
    margin: 1em 0 0.5em 0; }
  .graphs #content form #display-inst, .graphs #content form #display-country {
    background: url(/common/img/btn/btn-blue-small.gif) no-repeat bottom left;
    width: 110px;
    height: 30px;
    display: block;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    margin: 10px 0;
    text-decoration: none;
    border: none;
    margin: 1em 0 0 230px; }
    .graphs #content form #display-inst:hover, .graphs #content form #display-country:hover {
      background-position: top;
      color: white;
      text-decoration: none; }
  .graphs #content form input[type="radio"] {
    margin-left: 2em; }

.ui-autocomplete {
  padding: 0.5em !important;
  width: 500px; }
  .ui-autocomplete li {
    margin-bottom: 0.5em; }
    .ui-autocomplete li a.ui-corner-all {
      padding: 0.3em; }
      .ui-autocomplete li a.ui-corner-all:hover {
        font-weight: normal;
        text-decoration: none; }

#graph-placeholder {
  width: 605px;
  height: 450px;
  margin: 2em 0 4em 0; }
  #graph-placeholder .legend td {
    padding: 0.3em;
    font-size: 108%; }

#sidebar .svcs-box .inner h2 {
  color: #890210; }
#sidebar .svcs-box .inner ul li.ranking {
  background: url(/en/publishing-index/img/icons/icon-ranking.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.ranking:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.global {
  background: url(/en/publishing-index/img/icons/icon-global.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.global:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.map {
  background: url(/en/publishing-index/img/icons/icon-map.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.map:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.asia-pacific {
  background: url(/en/publishing-index/img/icons/icon-asia-pacific.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.asia-pacific:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.japan {
  background: url(/en/publishing-index/img/icons/icon-japan.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.japan:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.china {
  background: url(/en/publishing-index/img/icons/icon-china.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.china:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.australia {
  background: url(/en/publishing-index/img/icons/icon-australia.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.australia:hover {
    text-decoration: underline; }
#sidebar .svcs-box .inner ul li.korea {
  background: url(/en/publishing-index/img/icons/icon-korea.gif) no-repeat left top; }
  #sidebar .svcs-box .inner ul li.korea:hover {
    text-decoration: underline; }

#asia-pacific #sidebar .svcs-box .inner h2 {
  color: #204ba1; }

#sidebar .svcs-box .inner ul.asia-pacific a {
  color: #3366cc; }
  #sidebar .svcs-box .inner ul.asia-pacific a:hover {
    color: #1cdc35;
    text-decoration: underline; }

#sidebar .svcs-box .inner ul.asia-pacific li.asia-pacific {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-asia-pacific.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.institution {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-institution.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.country {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-country.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.japan {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-japan.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.journal {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-journal.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.historical {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-historical.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.graphs {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-graphs.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.latest {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-latest.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.about {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-about.gif) no-repeat left top; }
#sidebar .svcs-box .inner ul.asia-pacific li.subject {
  background: url(/en/publishing-index/asia-pacific/img/icons/icon-subject.gif) no-repeat left top; }

#content ul.article-results li.open .arrow {
  background: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-archive-arrow-dn.gif) no-repeat right 25% !important;
  height: 16px;
  position: absolute;
  right: 5px;
  width: 16px; }

#content ul.article-results li.bar:hover .arrow {
  background: url(/en/publishing-index/asia-pacific/img/arrows/asia-pacific-archive-arrow-rt.gif) no-repeat right 25%;
  height: 16px;
  position: absolute;
  right: 5px;
  width: 16px; }

#visualization {
  margin: 3.5em 0; }

#sidebar #npi-2012 .inner .cover {
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px #666666;
  width: 70px;
  float: left; }
#sidebar #npi-2012 .inner h2 {
  color: #3366cc;
  background: none;
  margin-bottom: 0.5em;
  margin-left: 85px; }
#sidebar #npi-2012 .inner p {
  color: #333333;
  margin-left: 85px; }
#sidebar #npi-2012 .inner .more {
  clear: none;
  height: 1.5em;
  margin: 1em 0 0 0; }
#sidebar #npi-2012 .inner .more:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
